* {
	box-sizing: border-box;
	margin: 0px;
	padding:0px;
}

html, body {
	height: 100%;
	min-height: 100%;
	background-color: #eee;
}

/*NEW CSS*/
.stuff:hover{
	background:#E0E0E0;
}

#myEvent{
	height:91%;
	overflow:auto;
}


.weather{
	 border:#40C0FF solid 1px;
	 text-align:center;
	 margin-bottom:-15px;
	 margin-top:10px;
}

.mEvnt{
	border:black solid 1px;
	padding:0.5em;
	font-size:12px;
	margin-bottom:1em;
}

/*NEW CSS*/

.container {
	height: 80%;
	padding: 1% 5%;
}

.jumbotron {
	height: 15%;
	padding: 0;
	background-color: white;
	display: flex;
	align-items: center;
	margin: 0;
}

.jumbotron h1 {
	margin: auto;
	font-family: 'Product Sans',Helvetica,sans-serif;
}

.row, .col-sm-3, .col-sm-9{
	height: 100%;
	min-height: 100%;
}

.panel {
	height: 100%;
	border-color: #d62d20; 
}

.panel-heading {
	background-color: #d62d20;
	color: white;
	font-family: 'Product Sans',Helvetica,sans-serif;
}

#map {
	height: 100%;
	width: 100%;
	border: 2px solid #d62d20;
}

.map-control {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
	font-family: 'Roboto','sans-serif';
	margin: 10px;
	/* Hide the control initially, to prevent it from appearing
	   before the map loads. */
	display: none;
}
/* Display the control once it is inside the map. */
#map .map-control { display: block; }

.selector-control {
	font-size: 14px;
	line-height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

footer {
	height: 5%;
	width: 100%;
	background-color: #4285f4;
}

footer .container {
	height: 100%;
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	padding: 0;
}

footer p {
	margin: auto;
	color: white;
	font-family: 'Product Sans',Helvetica,sans-serif;
}

@media screen and (max-width: 768px) {
	/*new CSS*/

	#myEvent{
		height:82.5%;
	}

	/*END NEW*/
	.col-sm-3, .col-sm-9{
		height: 50%;
		min-height: 50%;
	}
	.col-sm-3 {
		padding-bottom: .5%;
	}
	.col-sm-9 {
		padding-top: .5%;
	}
}

